<main class= "container">
  <div class = "row mt-4">
    <div class = "col-sm-12 col-md-6 max-auto">
      <div class= "card-body">
        <%# プロフィール画像を挿入する %>
        <%= @user.nickname %><br>
      </div>
    </div>
  </div>
</main>

<main class = "container">
  <div class = "row max-auto">
    <div class = "card-body">
      <% @photos.each do |photo| %>
        <%= image_tag photo.image, size: '265x265', position:'relative', class: 'user-show-image'%>
      <% end %>
    </div>
  </div>
</main>