<div class="modal-dialog" role="document">
  <div class="modal-content">
    <main class= "container">
      <div class="row">
        <div class="col-sm-12 col-md-5 mx-auto">
          <%= image_tag photos.image, width: '100%' %>
        </div>
      </div>
      <div class = "row">
        <div class= "col-sm-12 col-md-5 mx-auto">
        </div>
      </div>
    </main>
  </div>
</div>