<div class = "container">
  <div class="row my-3">
      <h1>モーダルを開く</h1>
  </div>
  <div class="row mb-5">
    <div class="col-2">
      <button type="button" class="btn btn-primary mb-12" data-toggle="modal" data-target="#testModal"><i class= "fas fa-upload"></i></i></button>
    </div>
    <div class="col-2">
      <a class="btn btn-primary" data-toggle="modal" data-target="#testModal">リンクボタンで開く</a>
    </div>
  </div>
</div>