<main class= "container">
  <div class="row">
    <div class="col-sm-12 col-md-5 mx-auto">
<<<<<<< Updated upstream
      
=======
      <%= image_tag @photo.image, width: '100%', class: "mt-5" %>
    </div>
  </div>
  <div class = "row">
    <div class= "col-sm-12 col-md-5 mx-auto">
      F値:<%= @photo.f_number %>
>>>>>>> Stashed changes
    </div>
  </div>
</main>