<div class = "container">
  <div class = "row">
    <p id="notice"><%= notice %></p>
    <div class= "col-5">
      <p>
        <strong>Video:</strong>
          <%= video_tag(@post.video.to_s, :loop => true, :autoplay => true, :muted => true, width:"960", height:"720", controlsList:"nodownload") %>
      </p>

      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Back', posts_path %>
    </div>
  </div>
</div>