<div class = "container">
  <div class = "row">
    <p id="notice"><%= notice %></p>
    <div class= "col-5">
      <p>
        <strong>Video:</strong>
        <%= video_tag(@post.video.to_s, :loop => true, :autoplay => true,  :controls => true ,width:"200%", height:"80%", preload:"metadata",:playsinline => true,controlsList:"nodownload") %>
      </p>
      <tr>
        <td>abc</td>
        <td>aaa</td>
      </tr>

      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Back', root_path %>
    </div>
  </div>
</div>